<!DOCTYPE html>
<html lang="en">
  <head>
    ${head}
  </head>
  <body>
    <div class="container">
      <div>
        <h1 class="display-4">To Do List Home Page</h1>
        <hr />
      </div>
      <div>
        <h2>To Do List:</h2>
        <ul>
          ${toDoList.map(item => `
          <li>${item.todo}</li>
          `).join('')}
        </ul>
      </div>
      <button>
        <a class="nav-link" href="/api/todoList/">Add/Edit The List</a>
      </button>
    </div>
  </body>
</html>
